# Auth
# https://authjs.dev/getting-started/migrating-to-v5#environment-variables
# https://authjs.dev/reference/core#secret
# pnpx auth secret to create a new secret

AUTH_URL =
AUTH_SECRET=



# Go to github and setup the oauth configuration
# https://github.com/settings/developers

AUTH_GITHUB_ID =
AUTH_GITHUB_SECRET  =

# In github add these values
# Homepage URL :
# Authorization callback URL :

# Microsoft Marketplace
NEXT_PUBLIC_MARKETPLACE_ENABLED=
NEXT_PUBLIC_MARKETPLACE_LANDING_URL=https://phenix-id.com/marketplace/landing
NEXT_PUBLIC_MICROSOFT_CLIENT_ID=
NEXT_PUBLIC_MICROSOFT_AUTHORITY=https://login.microsoftonline.com/common
NEXT_PUBLIC_MARKETPLACE_MANAGE_URL=
NEXT_PUBLIC_MARKETPLACE_PRODUCT_NAME=Phenix ID Platform
NEXT_PUBLIC_MARKETPLACE_PUBLISHER_NAME=Phenix
NEXT_PUBLIC_MARKETPLACE_SUPPORT_EMAIL=support@phenix-id.com
NEXT_PUBLIC_MARKETPLACE_PRIVACY_EMAIL=privacy@phenix-id.com
